.nk-tbl-data {
	width: 1000px;
	border-collapse: collapse;
	background-color: white;
}

.nk-tbl-data  th, .nk-tbl-data td {
	padding: 5px;
	border: 1px solid #BEBABA;
}

.warning {
	color: blue;
	font-weight: bold;
}

input[type=text], input[type=password], select {
	width: 200px;
	padding: 3px;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.lnk-edit img, .lnk-delete img  .lnk-print img {
	width: 16px;
	height: 16px;
}
